<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            {{'MANAGE_ROLE'|translate}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="well bs-component">
            <form name="RoleForm" novalidate>

                <fieldset>
                    <div class="col-lg-4">
                        <div ng-class="RoleForm.$invalid ? '' : 'has-success'" class="has-feedback">
                            <label>{{'ROLE_NAME'|translate}}</label>

                            <input class="form-control" name="Name" type="text" ng-model="selectedRole.Name" required ng-minlength="3"/>
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="RoleForm.$invalid"></span>
                            <p></p>
                        </div>

                        <div>

                            <button ng-disabled="RoleForm.$invalid" ng-show="selectedRole.GroupId" ng-click="update(selectedRole)" class="btn btn-default">{{'UPDATE'|translate}}</button>
                            <button ng-disabled="RoleForm.$invalid" ng-show="!!!selectedRole.GroupId" ng-click="add(selectedRole)" class="btn btn-success">{{'ADD'|translate}}</button>
                            <button ng-show="selectedRole" ng-click="clear()" class="btn btn-warning">{{'CANCEL'|translate}}</button>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                        <div class="col-lg-4">

                            <ul ng-repeat="privilege in privileges">

                                <li class="" ng-show="!active(privilege.RoleId)" ng-click="addPrivilege(privilege.RoleId)">
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                    <div class="pull-right"><strong>{{ privilege.Name | translate }}</strong></div>
                                </li>
                                <li class="alert-success" ng-show="active(privilege.RoleId)" ng-click="removePrivilege(privilege.RoleId)">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    <div class="pull-right"><strong>{{ privilege.Name | translate }}</strong></div>
                                </li>
                                <!-- <td>{{r.id}}</td>-->

                            </ul>

                        </div>

</fieldset>
                
        </form>
    </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{'NAME'|translate}}</th>
            <th>{{'CREATED'|translate}}</th>
            <th>{{'EDIT'|translate}}</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="group in groups">
        <td>{{ group.Name }}</td>
        <td>{{ group.Created | date:"dd.MM.yyyy HH:mm" }}</td>
        <td>
            <a href="#" ng-click="edit(group)" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>

        </td>

    </tr>
    </tbody>
</table> 